<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>División Agroalimentariao</title>
    <link rel="stylesheet" href="../../public/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">

</head>

<body>

    <header>
        <nav class="navbar sticky-top navbar-light bg-white">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../public/img/Pharma.png" class="img-navbar" alt="">
            </a>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="__container_fondo_img">
                <img src="../../public/img/Fruit.jpg" alt="" class=" __img_header2">
            </div>
        </div>


        <section class="container py-5">
            <h1 class="text-center py-2 ">División Agroalimentaria</h1>
            <div class="row py-5">
                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                    <p>La bioseguridad en la producción de alimentos es fundamental para prevenir enfermedades en el consumidor. Por eso Esteripharma, ofrece una amplia gama de productos sanitizantes y desinfectantes de alto nivel y amplio espectro antimicrobiano, amigables con el medio ambiente y seguros. No son tóxicos ni corrosivos.</p>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                    <p class="font-weight-bold">Nuestros productos son ideales para la sanitización de la industria alimentaria, ya que evitan la contaminación cruzada en la producción orgánica y favorecen el manejo higiénico de los alimentos.
                    </p>
                    <ul>
                        <li><a href="#bioseguridad"><i class="fas fa-shield-alt icon"></i>LÍNEA AGRÍCOLA</a></li>
                        <li><a href="#salud"><i class="fas fa-paw icon"></i>LÍNEA ALIMENTARIA</a></li>
                    </ul>
                </div>
            </div>
            <div class="container container__img">
                <img src="../../public/img/Apple.jpeg" alt="" class="img-fluid img__res">
            </div>
        </section>

        <hr>

        <!-- 1 -->
        <section id="bioseguridad" class="py-4">
            <div class="container">
                <h2 class="text-center">LÍNEA AGRÍCOLA</h2>

                <div class="row">
                    <!-- card 1 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/Estericlean_agroalimentaria.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">EsteriClean® Agroalimentaria</h5>
                            <p class="card-text">Detergente neutro biodegradable de baja espuma que remueve la materia orgánica presente en equipos, superficies e instalaciones de la industria agroalimentaria. Avalado por NSF para su uso en superficies en contacto con alimentos y por OMRI en el manejo seguro de la producción orgánica.</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/SES_Fresh_food_desinfectante.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SES® FRESH FOOD</h5>
                            <p class="card-text">Preservador de frescura de alimentos no procesados que actúa sin modificar sus características fisicoquímicas y organolépticas al disminuir la carga microbiana causante de su descomposición. Retarda la rancidez y melanosis de algunos alimentos manteniendo su valor nutritivo. Puede aplicarse en carne, pollo, pescado, quesos frescos, jugos, crustáceos y mariscos así como en una gran variedad de frutas y hortalizas.
                            </p>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/Ses_fresh_agricola.png" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SES® Desinfectante Agrícola</h5>
                            <p class="card-text">Desinfectante que puede utilizarse en las frutas y hortalizas previo a su empacado, previniendo la contaminación cruzada y pudrición por bacterias, virus y hongos causantes del daño poscosecha. No es corrosivo, por lo que se puede utilizar en acero inoxidable, aluminio, madera, plástico, etc. Sin riesgo de exposición para el operario. Avalado por OMRI en el manejo seguro de la producción orgánica.</p>
                        </div>
                    </div>

                </div>
        </section>

        <hr>

        <!-- 2 -->
        <section id="salud" class="py-4">
            <div class="container">
                <h2 class="text-center">LÍNEA ALIMENTARIA</h2>

                <div class="row">
                    <!-- card 1 -->
                    <div class="card col-12 col-lg-5  col-md-6 col-sm-12">
                        <img src="../../public/img/Estericlean_agroalimentaria.png" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="text-info">EsteriClean® Agroalimentaria</h5>
                            <p class="card-text">Detergente neutro biodegradable de baja espuma que remueve la materia orgánica presente en equipos, superficies e instalaciones de la industria agroalimentaria. Avalado por NSF para su uso en superficies en contacto con alimentos y por OMRI en el manejo seguro de la producción orgánica.</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card col-12 col-lg-5 offset-lg-2 col-md-6 col-sm-12">
                        <img src="../../public/img/SES_desinfeccion_alto_nivel.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SES® Desinfección de Alto Nivel</h5>
                            <p class="card-text">Es un desinfectante para uso en las instalaciones de la industria alimentaria, (comedores industriales, procesadoras de alimentos, confiteras, refresqueras, rastros TIF, panificadora, restaurantes, hotelería) eficaz para eliminar microorganismos patógenos como bacterias, virus, hongos presentes en las superficies, maquinaria y utensilios en contacto con alimentos. Evita y elimina la formación de biofilm. Por su aprobación en el listado OMRI, es una excelente opción para utilizarlo en la producción de alimentos orgánicos.
                        </div>
                    </div>
                </div>
        </section>

        <hr>

        <footer class="bg-dark py-5">
            <p class="text-white text-center">2021</p>
        </footer>

    </main>
</body>

</html>