<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>División Pecuario</title>
    <link rel="stylesheet" href="../../public/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">

</head>

<body>

    <header>
        <nav class="navbar sticky-top navbar-light bg-white">
            <a class="navbar-brand" href="../../index.html">
                <img src="../../public/img/Pharma.png" class="img-navbar" alt="">
            </a>
        </nav>
    </header>
    
    <main>
        <div class="__container_im">
            <img src="../../public/img/Campo.jpg" alt="" class=" __img_header" height="200px">
        </div>


        <section class="container py-5">
            <h1 class="text-center py-2 ">División Pecuario</h1>
            <div class="row py-5">
                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                    <p>La limpieza y desinfección en granjas, es imperante en los programas de bioseguridad y salud animal en la producción pecuaria.


                        Nuestra misión es llevar la salud animal a todos los sectores de la producción pecuaria, ofreciendo al mercado productos innovadores: sanitizantes, desinfectantes, esterilizantes y antisépticos que brinden soluciones integrales orientadas a las necesidades de la industria, ampliamente utilizados en el sector pecuario por su efectividad en la prevención y eliminación de microorganismos patógenos, causantes de las principales enfermedades que afectan la producción en bovinos. Su uso de manera integral favorece la productividad y rentabilidad del negocio.</p>
                </div>
                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                    <p class="font-weight-bold">Contamos con tres líneas de productos:</p>
                    <ul>
                        <li><a href="#bioseguridad"><i class="fas fa-shield-alt icon"></i>LÍNEA BIOSEGURIDAD</a></li>
                        <li><a href="#salud"><i class="fas fa-paw icon"></i>LÍNEA SALUD ANIMAL</a></li>
                        <li><a href="#acuicola"><i class="fas fa-paw icon"></i>LÍNEA ACUICOLA</a></li>
                    </ul>
                </div>
            </div>
            <div class="container container__img">
                <img src="../../public/img/Vaca.jpg" alt="" class="img-fluid img__res">
            </div>
        </section>

        <hr>

        <!-- 1 -->
        <section id="bioseguridad" class="py-4">
            <div class="container">
                <h2 class="text-center">LÍNEA BIOSEGURIDAD</h2>

                <div class="row">
                    <!-- card 1 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/Estericlean_bioseguridad.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">EsteriClean® Biosegurida</h5>
                            <p class="card-text">Detergente sanitizante de baja espuma, con eficacia superior al
                                disminuir cargas microbianas, permite eliminar fácilmente la suciedad presente en
                                superficies inhertes. Evita la formación de biofilm y tiene efecto deodorizante.</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/SOLUVET_FINAl_5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SoluVet® Bioseguridad</h5>
                            <p class="card-text">Desinfectante de alto nivel con acción microbicida contra bacterias,
                                virus, hongos y esporas perjudiciales para la salud de las mascotas. Con alta eficacia
                                en desinfección viral, previene la diseminación de enfermedades en la clínica
                                veterinaria, no generan resistencia bacteriana y es seguro de usar en presencia de
                                animales en: pensiones, guarderías, estéticas, hospitalización, quirófanos, sala de
                                consulta sin riesgo de toxicidad. Gracias a su pH neutro no daña las instalaciones.
                            </p>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="card col-12 col-lg-4 col-md-4 col-sm-12">
                        <img src="../../public/img/Dispensador_manos.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">ESTERICIDE® Desinfectante para manos</h5>
                            <p class="card-text">Desinfectante para manos de amplio espectro que ayuda a prevenir y evitar la transmisión de gérmenes, favoreciendo el manejo higiénico en las granjas de producción pecuaria. De rápida acción y eficacia. No provoca irritación en la piel ya que no contiene alcohol.</p>
                        </div>
                    </div>

                </div>
        </section>

        <hr>

        <!-- 2 -->
        <section id="salud" class="py-4">
            <div class="container">
                <h2 class="text-center">LÍNEA SALUD ANIMAL</h2>

                <div class="row">
                    <!-- card 1 -->
                    <div class="card col-12 col-lg-5  col-md-6 col-sm-12">
                        <img src="../../public/img/Veteribac_salud_animal_antiseptico.png" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="text-info">VeteriBac®</h5>
                            <p class="card-text">Antiséptico de uso clínico con amplio espectro de acción al eliminar
                                bacterias y hongos. Eficaz como preventivo y tratamiento de infección en heridas en piel
                                y mucosa. Ideal en el manejo pre, trans, y postquirúrgico. Actúa localmente y no genera
                                resistencia bacteriana, no es tóxico y es amigable con las mascotas.</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card col-12 col-lg-5 offset-lg-2 col-md-6 col-sm-12">
                        <img src="../../public/img/Veteribac_mascotas.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                VeteriBac® Mascotas</h5>
                            <p class="card-text">Solución antiséptica de uso tópico, para el lavado y tratamiento de
                                heridas, quemaduras, úlceras, abscesos, en mascotas. Previene y elimina la infección,
                                brinda efecto analgésico y estimula el proceso de cicatrización. Es amigable con las
                                mascotas.
                        </div>
                    </div>
                </div>
        </section>

        <hr>

        <!-- 3 -->
        <section id="acuicola" class="py-4">
            <div class="container">
                <h2 class="text-center">LÍNEA ACUÍCOLA</h2>

                <div class="row">
                    <!-- card 1 -->
                    <div class="card col-12 col-lg-5  col-md-6 col-sm-12">
                        <img src="../../public/img/Soluvet_acuicola.png" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SoluVet® Acuícola</h5>
                            <p class="card-text">Desinfectante con efecto germicida, inocuo, eficaz y seguro. Es ideal en la desinfección de estanques, favoreciendo el desarrollo de organismos acuícolas. Puede aplicarse sobre los animales, incluyendo los estanques de producción, previniendo enfermedades que podrían mermar la talla y peso de la cosecha.</p>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card col-12 col-lg-5 offset-lg-2 col-md-6 col-sm-12">
                        <img src="../../public/img/SES_Fresh_food.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-info">
                                SES® FRESH FOOD</h5>
                            <p class="card-text">Preservador de frescura de alimentos no procesados de amplio espectro antimicrobiano que actúa sin modificar las características fisicoquímicas y organolépticas de los alimentos, manteniendo su valor nutricional. Retarda la melanosis del camarón y la rancidez oxidativa del pescado. Aplicado sobre marquetas de camarón, abate la carga bacteriana sin el uso del metabisulfito.
                        </div>
                    </div>
                </div>
        </section>

        <footer class="bg-dark py-5">
            <p class="text-white text-center">2021</p>
        </footer>

    </main>
</body>

</html>