body{
    font-family: 'Poppins', sans-serif !important;
    width: auto;
}

li{
    list-style: none;
    padding: 10px;
}

a{
    font-size: 1.25rem;
    color: brown !important;
}

p{
    text-align: justify;
    color: #8a8a8a;
}

.img-navbar{
    width: 15%;
    height: 15%;
}


.__container_img {
  height: 200px;  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #333944;
}

.__img_header {
    width: 100%;
    height: 50vh;
}

.icon{
    margin-right: 5px ;
}

.__container_cta_line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
}

.__img_card{
    width: 150px;
    height: 150px;
}

.card{
    margin-bottom: 20px;
    
    font-size: .75rem;
}

.container__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px !important;
}

.img__res{
    margin: auto 0;
}

.container2{
    height: 100px;
}

.__container_fondo_img{
    width: 100%;
    background-color: aqua;
}

/* .__img_header2{
    width: inherit;
    height: inherit;
    object-fit: cover;
} */

.__container_fondo_img img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}



/* 
@media screen and (min-width: 375px){
    .__container_img{
        height: 50px;
    }
} */